.dark-mode{
	background-color: #272822;
	color: #F8F8F2;
}

.dark-mode .table-striped>tbody>tr:nth-of-type(odd) {
   background-color: #161906;
 }

 .dark-mode .table-hover>tbody>tr:hover{
 	background-color: #494537;
 }

.main-col{
	padding:10px 0px;
	position:relative;
}

.main-title{
	display:inline-block;
	margin:0px;
}

.dark-mode-toggle{
	position: absolute;
  top: 17px;
  margin-left: 10px;
  color: inherit;
}

.dark-mode-toggle:hover, .dark-mode-toggle:focus{
	color: inherit;
}

.main-row{
	padding-top:10px;
	padding-bottom:30px;
}

#main-table_wrapper{
	margin-top:10px;
}

.main-table-responsive{
	padding:5px;
}

.main-row .dataTables_filter{
	text-align:left !important;
}

@media (max-width:640px) { /* small devices */
	.title{
		text-align:center;
		margin-bottom:5px;
	}
	.main-title{
		font-size: 26px;
	}
	.dark-mode-toggle{
		position:inherit;
		display:block;
	}
	.main-row .dataTables_filter{
		text-align:center !important;
	}
}

@media (max-width: 414px){ /* x-small devices */
	.main-title{
		font-size:20px;
	}
}